schema: 2-0-6
dependencies:
  core: v5.1.0
frames:
  wp_1:
    reference_frame: world
    position:
      x: -0.027943
      y: 0.600701
      z: 0.202217
    orientation:
      w: 0.171776
      x: 0.985056
      y: 0.002386
      z: -0.012313
  wp_2:
    reference_frame: world
    position:
      x: 0.260809
      y: 0.604927
      z: 0.194871
    orientation:
      w: 0.132343
      x: 0.95897
      y: -0.030587
      z: -0.248852
  wp_3:
    reference_frame: world
    position:
      x: 0.147083
      y: 0.552997
      z: 0.328354
    orientation:
      w: 0.012478
      x: 0.999843
      y: 0.000392
      z: -0.012536
on_start:
  load:
    hardware: hardware
sequences:
  sequence:
    display_name: Sequence
    steps:
      - delay: 2
      - call_service:
          controller: joint_trajectory_controller
          hardware: hardware
          service: set_trajectory
          payload: "{frames: [wp_1, wp_2, wp_3], durations: [1.0, 1.0, 1.0],
            blending_factors: [1.0]}"
hardware:
  hardware:
    display_name: Hardware Interface
    urdf: Universal Robots 5e
    rate: 500
    events:
      transitions:
        on_load:
          load:
            - controller: robot_state_broadcaster
              hardware: hardware
            - controller: joint_trajectory_controller
              hardware: hardware
    controllers:
      robot_state_broadcaster:
        plugin: aica_core_controllers/RobotStateBroadcaster
        events:
          transitions:
            on_load:
              switch_controllers:
                hardware: hardware
                activate: robot_state_broadcaster
      joint_trajectory_controller:
        plugin: aica_core_controllers/trajectory/JointTrajectoryController
        events:
          predicates:
            has_trajectory_succeeded:
              application: stop
          transitions:
            on_load:
              switch_controllers:
                hardware: hardware
                activate: joint_trajectory_controller
graph:
  positions:
    buttons:
      button:
        x: -460
        y: 580
    hardware:
      hardware:
        x: 620
        y: -20
    sequences:
      sequence:
        x: 40
        y: 560
  buttons:
    button:
      on_click:
        sequence:
          start: sequence
  edges:
    sequence_sequence_event_trigger_2_hardware_hardware_joint_trajectory_controller_set_trajectory:
      path:
        - x: 420
          y: 1060
        - x: 620
          y: 1060
        - x: 620
          y: 900
    button_on_click_sequence_sequence:
      path:
        - x: -20
          y: 640
        - x: -20
          y: 620
    on_start_on_start_hardware_hardware:
      path:
        - x: 360
          y: 60
        - x: 360
          y: 40
    sequence_sequence_event_trigger_1_hardware_hardware_joint_trajectory_controller_set_trajectory:
      path:
        - x: 240
          y: 820
    hardware_hardware_joint_trajectory_controller_has_trajectory_succeeded_on_stop_on_stop:
      path:
        - x: 540
          y: 740
        - x: 540
          y: 480
        - x: -20
          y: 480
        - x: -20
          y: 160
