schema: 2-0-6
dependencies:
  core: v5.1.0
frames:
  wp_1:
    reference_frame: world
    position:
      x: -0.027943
      y: 0.600701
      z: 0.202217
    orientation:
      w: 0.171776
      x: 0.985056
      y: 0.002386
      z: -0.012313
  wp_2:
    reference_frame: world
    position:
      x: 0.260809
      y: 0.604927
      z: 0.194871
    orientation:
      w: 0.132343
      x: 0.95897
      y: -0.030587
      z: -0.248852
  wp_3:
    reference_frame: world
    position:
      x: 0.147083
      y: 0.552997
      z: 0.328354
    orientation:
      w: 0.012478
      x: 0.999843
      y: 0.000392
      z: -0.012536
on_start:
  load:
    hardware: hardware
sequences:
  sequence:
    display_name: Sequence
    steps:
      - delay: 2
      - call_service:
          controller: joint_trajectory_controller
          hardware: hardware
          service: set_trajectory
          payload: "{frames: [wp_1, wp_2, wp_3], durations: [1.0, 1.0, 1.0],
            blending_factors: [1.0]}"
hardware:
  hardware:
    display_name: Hardware Interface
    urdf: Universal Robots 5e
    rate: 500
    events:
      transitions:
        on_load:
          load:
            - controller: robot_state_broadcaster
              hardware: hardware
            - controller: joint_trajectory_controller
              hardware: hardware
            - controller: ur_dashboard_controller
              hardware: hardware
    parameters:
      headless_mode: "false"
      robot_ip: 192.168.0.10
    controllers:
      robot_state_broadcaster:
        plugin: aica_core_controllers/RobotStateBroadcaster
        events:
          transitions:
            on_load:
              switch_controllers:
                hardware: hardware
                activate: robot_state_broadcaster
      joint_trajectory_controller:
        plugin: aica_core_controllers/trajectory/JointTrajectoryController
        events:
          predicates:
            has_trajectory_succeeded:
              call_service:
                controller: ur_dashboard_controller
                hardware: hardware
                service: hand_back_control
          transitions:
            on_activate:
              sequence:
                start: sequence
      ur_dashboard_controller:
        plugin: aica_ur_controllers/URDashboardController
        events:
          predicates:
            program_running:
              switch_controllers:
                hardware: hardware
                activate: joint_trajectory_controller
            hand_back_control_success:
              application: stop
          transitions:
            on_load:
              switch_controllers:
                hardware: hardware
                activate: ur_dashboard_controller
graph:
  positions:
    hardware:
      hardware:
        x: 780
        y: 0
    sequences:
      sequence:
        x: 80
        y: 380
  edges:
    sequence_sequence_event_trigger_2_hardware_hardware_joint_trajectory_controller_set_trajectory:
      path:
        - x: 420
          y: 1060
        - x: 620
          y: 1060
        - x: 620
          y: 900
    on_start_on_start_hardware_hardware:
      path:
        - x: 440
          y: 40
        - x: 440
          y: 60
    hardware_hardware_joint_trajectory_controller_on_activate_sequence_sequence:
      path:
        - x: 20
          y: 760
        - x: 20
          y: 440
    sequence_sequence_event_trigger_1_hardware_hardware_joint_trajectory_controller_set_trajectory:
      path:
        - x: 280
          y: 920
    hardware_hardware_ur_dashboard_controller_program_running_hardware_hardware_joint_trajectory_controller:
      path:
        - x: 460
          y: 1300
        - x: 460
          y: 640
    hardware_hardware_ur_dashboard_controller_hand_back_control_success_on_stop_on_stop:
      path:
        - x: -20
          y: 1260
        - x: -20
          y: 140
    hardware_hardware_joint_trajectory_controller_has_trajectory_succeeded_hardware_hardware_ur_dashboard_controller_hand_back_control:
      path:
        - x: 680
          y: 840
        - x: 680
          y: 1380
